/*
	Overall
*/
* {
	font-family: 'Roboto Mono', monospace;
}

.transiton {
	-webkit-transition: color 333ms ease;
	-moz-transition: color 333ms ease;
	-ms-transition: color 333ms ease;
	-o-transition: color 333ms ease;
	transition: color 333ms ease;
}

a {
	color: #333;
}

p {
	margin: 20px 0px;
}

a:hover {
	color: #e7e7e7;
	text-decoration: none;
}

.inner-page-title {
	text-align: center;
}

.page-content {
	width: 840px;
	margin: 0 auto;
}

.line {
	width: 100%;
	height: 5px;
	display: block;
	background-color: #333;
}

.thin-line {
	width: 100%;
	height: 1px;
	display: block;
	background-color: #333;
}

.content p {
	padding: 0px 15px;
	line-height: 1.5;
	text-align: justify;
}

.content img {
	max-width: 50%;
	padding: 0px 15px;
}

.content span.stead-img-info {
	font-size: 0.8em;
	display: block;
	padding: 0px 15px;
}

.post-info {
	font-size: 0.8em;
}

footer {
	padding: 30px 0px;
}

@media screen and (max-width: 1024px) {
	.page-content {
		width: 100%;
		padding: 0px 10px;
	}

	.content img {
		max-width: 100%;
		padding: 0px;
	}

	.content span.stead-img-info {
		padding: 0px;
	}
}